name: test

on: [push]

permissions:
  id-token: write
  contents: read

jobs:
  stuff:
    runs-on: ubuntu-latest
    steps:
      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - uses: azure/CLI@v1
        with:
          azcliversion: latest
          inlineScript: |
            az account show
